body {
    font-family: Helvetica, sans-serif, Arial;
    height: 600px;
    overflow: hidden;
    color: white;
    margin: 0;
}

header {
    height: 10%;
}
header > div > h3 {
    margin: 0;
    padding-top: 3px;
}

.title {
    height: 50%;
    display: flex;
}
.title > div:first-child > button {
    color: grey;
    cursor: default;
}
.title > div:first-child > button:hover {
    background-color: transparent;
}
.title > .actions {
    width: 80%;
    display: flex;
}

.heading {
    display: flex;
    width: 100%;
    height: 50%;
}
.heading > h3 {
    text-align: center;
    background-color: rgb(73, 76, 78);
}
.heading > h3:first-child {
    width: 20%;
}
.heading > h3:last-child {
    width: 80%;
}

.content {
    height: 90%;
    display: flex;
}

.time-color-block {
    position: absolute;
    height: 100%;
    width: 20%;
    background-color: #303030;
}

.tasks-list {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.task {
    display: flex;
    width: 100%;
    height: 10%;
	border-bottom:1px solid #525252;
}

.taskTime {
    display: block;
    width: 20%;
    height: 100%;
    text-align: center;
    background-color:transparent;
}
.taskTime > button {
    margin: 0;
    padding: 0;
    width: 100%;
}

.taskInfo {
    display: flex;
    width: 80%;
    height: 100%;
}
.taskInfo > button {
    width: 80%;
    background-color:transparent;
}
.taskInfo > button:active {
	position:relative;
	top:1px;
}

.taskState {
    height: 100%;
    text-align: center;
    display: block;
    width: 20%;
    background-color: rgb(14, 14, 14);
    cursor: pointer;
}
.taskState > button {
    width: 100%;
}

button {
    display:block;
    height: 100%;
    background-color:transparent;
    border: none;
	color:#ffffff;
	font-family: monospace, sans-serif;
	font-size: 1rem;
    text-decoration:none;
    cursor: pointer;
}
button:hover {
    background-color: grey;
}
button:focus {
    background-color: transparent;
}

::-webkit-scrollbar {
    background: none;
}
::-webkit-scrollbar-thumb {
    background: rgb(51, 53, 54);
}