<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Timeblocker</title>
    <link rel="stylesheet" type="text/css" href="index.css" />
</head>

<body>
    <header>
        <div class="title">
            <div>
                <button disabled>Timeblocker</button>
            </div>
            <div class="actions">
                <button id="create-new-task">New Task</button>
                <button id="about">About</button>
                <button id="quit">Quit</button>
            </div>
        </div>
        <div class="heading">
            <h3>Time</h3>
            <h3>Tasks</h3>
        </div>
    </header>
    
    <section class="content">
        <span class="time-color-block"></span>
        <div class="tasks-list">
            <task v-for="task in tasks" v-bind:timespan="task.timeSpan" v-bind:name="task.name" v-bind:id="task.id"></task>
        </div>
    </section>
</body>
<!-- Dev Vue -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
<!-- Production Vue -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src='./vue-components/Task.js'></script>
<script src='./renderer.js'></script>

</html>